{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block beforeform %}
{% endblock %}
<div id="cost-panel">
    <dt>Cost:</dt>
    <dd>$<span id="cost"></span></dd>
</div>
{{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
{% for form in formset %}
{% if not form.DELETE.value %}
<li>
    <div class="card">
        {{ form.non_field_errors }}
        {{ form.ingredient.errors }}
        <label for="{{ form.ingredient.id_for_label }}">Ingredient:</label>
        {{ form.ingredient }}
        {{ form.amount.errors }}
        <label for="{{ form.amount.id_for_label }}">Amount:</label>
        {{ form.amount }}
        <label for="{{ form.DELETE.id_for_label }}"><img class="remove btn" src="{% static 'x-square.svg' %}"></label>
        <input onchange="refreshForm()" type="checkbox" name="{{ form.DELETE.html_name }}" id={{ form.DELETE.id_for_label }} style="display: none;">
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </div>
</li>
{% endif %}
{% endfor %}
<li onclick="refreshForm()" class="card add-button btn">
    +
</li>

<script>
    function refreshForm() {
        document.querySelector('#manage-form').click()
    }
    document.querySelectorAll('input, select').forEach(element => {
        element.addEventListener('change', () => {
            getCost()
        })
        element.addEventListener('keyup', () => {
            getCost()
        })
    })
    function getCost() {
        formdata = new FormData(document.querySelector('form'))
        fetch("{% url 'cost' %}", {
            method: 'POST',
            body: formdata
        })
        .then(response => response.text())
        .then(response => document.querySelector('#cost').innerHTML = response)
    }
    getCost()
</script>
{% block afterform %}
{% endblock %}
{% endblock %}