{% extends 'inventory/menu/recipe_requirements_form.html' %}

{% block titlebar %}Edit {{ object.name | capfirst }}{% endblock %}

{% block beforeform %}
<h1>Edit {{ object.name }} in menu</h1>
<form method="post">
    {% csrf_token %}
    <div class="horizontal-form">
        <div>
            {% if not form.hide_errors %}
                {{ form.as_p }}
            {% else %}
                <p>
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </p>
                <p>
                    {{ form.price.label_tag }}
                    {{ form.price }}
                </p>
            {% endif %}
        </div>
        <div>
            <label for="recipe-requirements">Recipe requirements:</label>
            <ol id="recipe-requirements" class="horizontal-form">
                {% endblock %}
                {% block afterform %}
            </ol>
        </div>
    </div>
    <input formaction="{% url 'updatemenuitem' object.id %}" id="manage-form" type="submit" style="display: none;" formnovalidate>
    <input formaction="{% url 'updatemenuitem' object.id 'update' %}" class="btn" type="submit">
</form>
<a href="{% url 'deletemenuitem' object.id %}"><button class="btn btn-danger">Delete</button></a>
{% endblock %}