{% extends 'base.html' %}

{% block titlebar %}Delete {{ object.name | capfirst }}{% endblock %}

{% block content %}
<h1>Delete ingredient {{ object.name | capfirst }}?</h1>
{% if object.of.first %}
<p>This ingredient is required in some menu items. Deleting will remove this ingredient from their recipes.</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Yes">
</form>
{% if object.of.first %}
<hr width="75%">
<p>This ingredient is used to prepare:</p>
{% for requirement in object.of.all %}
<tr>
    <td><p>{{ requirement.menuItem }}</p></td>
</tr>
{% endfor %}
{% endif %}
{% endblock %}